body {
	margin: 0;
	padding: 0;
	background-color: white;
	color: #58595B;
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #FF8200;
	color: white;
	font-family: 'Solway', serif;
	width: 100%;
	font-size: 60px;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #58595B;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 20% 80%;
}

.linkcontainer {
    border: #58595B;
    border-radius: 10px;
    margin: 5px 5px;
	border-style: solid;
	display: block;
}

.links {
	border-bottom: thin #58595B;
	border-bottom-style: solid;
	min-width: 100%;
	display: block;
}

.contentholder {
	margin: 5px 5px;
}

.content {
	border: #58595B;
	border-radius: 10px;
	border-style: solid;
}

.content h1{
	border-bottom: thin #58595B;
	border-bottom-style: solid;
	display: block;
	min-width: 100%;
}

.content p{
	margin: 5px 5px;
}

.internalcontent {
	display: grid;
	column-gap: 5px;
	grid-template-columns: 30% 70%;
}

img {
	max-height: 100%;
	max-width: 100%;
    margin: 5px 5px;
}