---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { post: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout>
  <div class="min-h-full pt-5">
    <h1 class="text-5xl font-bold">{post.data.title}</h1>

    <br />

    {
      post.data.tags && post.data.tags.length > 0 ? (
        <div>
          Tags:
          {post.data.tags.map((tag:string) => {
            return (<span>
              <a href={`/blog/tags/${tag}`}>#{tag}</a>
            </span>);
          })}
        </div>
        <br/>
      ) : (
        <div />
      )
    }

    <article class="prose prose-mist dark:prose-invert lg:prose-xl">
      <Content />
    </article>

    <div class="border border-mist-600 p-2.5 rounded-2xl mt-5.5">
      <p class="text-base">
        Want to talk about this? Email me at: <a
                    href="mailto:sam.k.baumann@gmail.com"
                    class="underline"
                >
                    sam.k.baumann@gmail.com
                </a>. All words published are written by myself.
                </p>
    </div>
  </div>
</BaseLayout>
