---
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
    .sort(
        (a, b) =>
            Date.parse(b.data.date.valueOf()) -
            Date.parse(a.data.date.valueOf()),
    )

---

<BaseLayout>
    <div class="text-xl">
    <PostList posts={posts}/>
    </div>
</BaseLayout>