---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
    .sort(
        (a, b) =>
            Date.parse(b.data.date.valueOf()) -
            Date.parse(a.data.date.valueOf()),
    )

---

<BaseLayout>
    { posts.map((post) => {
        return <h1 class="text-2xl font-bold"><a href={`/blog/${post.id}`}>{post.data.title}</a></h1>
    })}
</BaseLayout>