@import "tailwindcss";

@theme {
    --color-shadow-grey-50: #f3f2f2;
    --color-shadow-grey-100: #e6e5e5;
    --color-shadow-grey-200: #cecaca;
    --color-shadow-grey-300: #b5b0b0;
    --color-shadow-grey-400: #9c9696;
    --color-shadow-grey-500: #837c7c;
    --color-shadow-grey-600: #696363;
    --color-shadow-grey-700: #4f4a4a;
    --color-shadow-grey-800: #353131;
    --color-shadow-grey-900: #1a1919;
    --color-shadow-grey-950: #121111;

    --color-slate-grey-50: #f1f2f4;
    --color-slate-grey-100: #e3e4e8;
    --color-slate-grey-200: #c6cad2;
    --color-slate-grey-300: #aaafbb;
    --color-slate-grey-400: #8e95a4;
    --color-slate-grey-500: #717a8e;
    --color-slate-grey-600: #5b6271;
    --color-slate-grey-700: #444955;
    --color-slate-grey-800: #2d3139;
    --color-slate-grey-900: #17181c;
    --color-slate-grey-950: #101114;

    --color-parchment-50: #f6f2ef;
    --color-parchment-100: #ede6de;
    --color-parchment-200: #dbccbd;
    --color-parchment-300: #c9b39c;
    --color-parchment-400: #b7997b;
    --color-parchment-500: #a4805b;
    --color-parchment-600: #846648;
    --color-parchment-700: #634d36;
    --color-parchment-800: #423324;
    --color-parchment-900: #211a12;
    --color-parchment-950: #17120d;

    --color-bone-50: #f6f4ef;
    --color-bone-100: #ede9de;
    --color-bone-200: #dbd3bd;
    --color-bone-300: #c9bd9c;
    --color-bone-400: #b7a77b;
    --color-bone-500: #a4915b;
    --color-bone-600: #847448;
    --color-bone-700: #635736;
    --color-bone-800: #423a24;
    --color-bone-900: #211d12;
    --color-bone-950: #17140d;

    --color-khaki-beige-50: #f4f2f0;
    --color-khaki-beige-100: #eae6e1;
    --color-khaki-beige-200: #d5cdc3;
    --color-khaki-beige-300: #c0b4a5;
    --color-khaki-beige-400: #aa9b88;
    --color-khaki-beige-500: #95826a;
    --color-khaki-beige-600: #776855;
    --color-khaki-beige-700: #5a4e3f;
    --color-khaki-beige-800: #3c342a;
    --color-khaki-beige-900: #1e1a15;
    --color-khaki-beige-950: #15120f;
}