---
import BaseLayout from "../layouts/BaseLayout.astro";
import ColorRow from "../components/ColorRow.astro";

const primaryClasses = [
  "bg-orange-100",
  "bg-orange-200",
  "bg-orange-300",
  "bg-orange-400",
  "bg-orange-500",
  "bg-orange-600",
  "bg-orange-700",
  "bg-orange-800",
  "bg-orange-900",
];

const neutralClasses = [
    "bg-stone-100",
    "bg-stone-200",
    "bg-stone-300",
    "bg-stone-400",
    "bg-stone-500",
    "bg-stone-600",
    "bg-stone-700",
    "bg-stone-800",
    "bg-stone-900",
]
---

<BaseLayout>
    <ColorRow title="Primary" bgClasses={primaryClasses}/>
    <div class="rounded-md m-3 bg-orange-100 text-orange-900 p-2">
        <h1 class="text-xl font-bold">This is an example alert</h1>
        <h2>It shows how the darkest and lightest shades of the primary color compare</h2>
    </div>
    <ColorRow title="Neutral" bgClasses={neutralClasses}/>
</BaseLayout>