---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

//get latest 10 blog posts
const posts = (await getCollection("blog"))
    .sort(
        (a, b) =>
            Date.parse(b.data.date.valueOf()) -
            Date.parse(a.data.date.valueOf()),
    )
    .slice(0, 10);
---

<BaseLayout>
    <div class="text-lg md:text-xl">
        <p class="font-semibold">About</p>
        <p>
            Innovations team at <a href="https://americanaccessoriesintl.com/"
                >AAI</a
            >
        </p>
        <p class="font-bold">Writing</p>
        <div class="not-prose">
            {
                posts.map((post) => {
                    return (
                        <a href={`/blog/${post.id}`}>
                            <div class="font-semibold hover:bg-mist-400 dark:hover:bg-mist-700 rounded-sm -mx-3 px-3">
                                {post.data.title}
                            </div>
                        </a>
                    );
                })
            }
        </div>
        <a href="/blog">See All</a>
        <p>More</p>
        <p>You can email me: <a href="mailto:sam.k.baumann@gmail.com">sam.k.baumann@gmail.com</a></p>
    </div>
</BaseLayout>
