---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

//get latest 10 blog posts
const posts = (await getCollection("blog"))
    .sort(
        (a, b) =>
            Date.parse(b.data.date.valueOf()) -
            Date.parse(a.data.date.valueOf()),
    )
    .slice(0, 10);
---

<BaseLayout>
    <div class="flex flex-row bg-stone-400 w-[95vw] rounded-2xl">
        <div class="flex flex-col p-3 flex-1">
            <h1 class="text-5xl p-2 font-bold">Sam Baumann</h1>
            <div
                class="rounded-xl bg-stone-800 text-orange-200 p-2 text-xl"
            >
                <ul class="list-disc">
                    <li><a href="/blog"> Blog </a></li>
                    <li><a href="/now"> Now </a></li>
                    <li><a href="/about"> About </a></li>
                    <li>
                        <a href="https://github.com/sam-baumann">
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/sam-baumann">
                            Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-3 flex-1 text-xl">
            <span class="text-2xl font-bold">Recent Posts</span>
            <ul class="list-disc">
                {
                    posts.map((post) => (
                        <li>
                            <a href={`/blog/${post.id}`}>
                                {post.data.title}
                            </a>
                            {post.data.description && (
                                <span> - {post.data.description}</span>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</BaseLayout>
