---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";

//get latest 10 blog posts
const posts = (await getCollection("blog"))
    .sort(
        (a, b) =>
            Date.parse(b.data.date.valueOf()) -
            Date.parse(a.data.date.valueOf()),
    )
    .slice(0, 10);
---

<BaseLayout>
    <div class="prose lg:prose-xl prose-mist dark:prose-invert space-y-6">
        <div>
            <h3 class="font-semibold">About</h3>
            <p>
                Hi! I'm Sam, a software engineer from Knoxville, Tennessee,
                originally from the St. Louis area.
            </p>

            <p>
                On the innovations team at <a
                    class="underline"
                    href="https://americanaccessoriesintl.com/"
                >
                    AAI</a
                >, building things across computer vision, edge AI, and wherever
                the next interesting problem shows up.
            </p>

            <p>
                I graduated from the University of Tennessee, Knoxville. B.S.
                Computer Science 2022, M.S Computer Science 2023. Go Vols!
            </p>

            <p>
                I enjoy St. Louis and Tennessee sports, and play chess (feel
                free to <a
                    class="underline"
                    href="https://lichess.org/@/sam-k-b"
                >
                    challenge me</a
                > on Lichess - fair warning, I'm not very good!)
            </p>

            <p>
                If you'd like to get in touch, I'd love to hear from you over
                email: <a
                    href="mailto:sam.k.baumann@gmail.com"
                    class="underline"
                >
                    sam.k.baumann@gmail.com
                </a>
            </p>
        </div>
        <div class="space-y-1">
            <h3 class="font-bold">Writing</h3>
            <div class="not-prose">
                <PostList posts={posts} />
            </div>
            <a href="/blog">See All</a>
        </div>
    </div>
</BaseLayout>
