---
// Header.astro
---

<header class="flex flex-row items-end">
  <div class="p-4">
    <h1 class="text-2xl font-medium"><a href="/">Sam Baumann</a></h1>
    <h2 class="font-light">Software Engineer</h2>
  </div>
</header>