---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<title>Sam Baumann</title>
	</head>
	<body class="bg-mist-200 text-mist-800 dark:bg-mist-900 dark:text-mist-200">
		<div class="min-h-screen flex
		flex-col font-sans mx-auto max-w-175 px-5 py-1">
			<Header />
			<main class="px-4">
					<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
